/* Assessment UI styles */
#assessmentList span.delete_row {
  float: right;
  padding: 10px;
}
#assessmentTitle {
  font-size: 24pt;
}
.assessmentSection {
  position: relative;
  border: 2px #cccccc;
  box-shadow: #888888 -3px 3px 5px;
  padding: 2rem;
  margin: 50px;
}

div.assessmentSection > div {
  margin: 2rem 0;
}

div.sectionText > textarea {
  border: 1px solid #ccc;
  min-width: 90%;
  margin: 20px 0 5px 0;
}

.rubricText {
  border-radius: 5px;
  border-width: 1px 1px 1px 8px;
  border-style: solid;
  border-color: #cccccc;

  margin: 20px 0;
  padding: 5px;
  display: block;
  max-width: 100%;
  min-width: 90%;
}

.rubricFail {
  border-left-color: red;
}
.rubricApproachingCompetence {
  border-left-color: yellow;
}
.rubricCompetent {
  border-left-color: green;
}

a.button.add {
  display: block;
  float: right;
}
