/* Default site styles  */

/* Fonts */
@font-face {
  font-family: 'Bebas Neue';
  src: url('./fonts/bebasneue-bold-webfont.woff2') format('woff2'),
       url('./fonts/bebasneue-bold-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Quicksand';
  src: url("./fonts/quicksand-regular-webfont.woff2") format('woff2'),
       url("./fonts/quicksand-regular-webfont.woff") format('woff');
}
html {
  box-sizing: border-box;
}

body {
  background-color: #e8eaed;
  font-family: Quicksand, Poppins-Regular, Roboto, sans-serif;
}

h1 {
  font-size: 2.5em;
}
h3 {
  margin: 0;
}
input[type="text"] {
  padding: 5px;
  margin: 10px 0;
}

label {
  font-size: 14pt;
  font-weight: 400;
  display: block;
}
