<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Welcome to the University of Hardt-Knox</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="img/emblem.png">
  <link rel="shortcut icon" href="img/emblem.png"/>

  <!-- Vendor Scripts -->
  <script src="js/vendor/modernizr-3.7.1.min.js"></script>
  <script src="js/vendor/jquery-3.4.1.min.js"></script>
  <script src="js/vendor/jquery-ui.min.js"></script>
  <script src="js/vendor/angular.min.js"></script>
  <script src="js/vendor/angular-route.js"></script>
  <script src="js/vendor/crypto-js.min.js"></script>
  <script src="js/vendor/hmac-sha256.min.js"></script>
  <script src="js/vendor/enc-base64.min.js"></script>
  <script src="js/vendor/Chart.bundle.min.js"></script>

  <!-- Stylesheets  -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
  <link rel="stylesheet" href="css/normalize.css"/>
  <link rel="stylesheet" href="css/boilerplate.css"/>
  <link rel="stylesheet" href="css/main.css"/>
  <link rel="stylesheet" href="css/login.css"/>
  <link rel="stylesheet" href="css/dashboard.css"/>
  <link rel="stylesheet" href="css/users.css"/>
  <link rel="stylesheet" href="css/assessment.css"/>
  <link rel="stylesheet" href="css/course.css"/>
  <link rel="stylesheet" href="css/reports.css"/>
  <link rel="stylesheet" href="css/university.css" />
  <link rel="stylesheet" href="css/responsive.css" />

  <meta name="theme-color" content="#fafafa">
</head>

<body ng-app="uhnApp">
  <header id="topBar" ng-controller="loginController">
    <h2 id="dashTitle">Admin Dashboard</h2>

    <div id="logoutButton" ng-click="handleLogout()" >
      <img src="img/logout.svg" alt="Logout of system"/>
    </div>
  </header>

  <nav id="menuBar" ng-controller="dashboardCtrl">
    <div id="mainMenuContainer">
      <ul id="mainMenu">
        <li id="menuStudents" ng-click="menuClick('students')"><img alt="Students" class="menu_icon" src="img/students_dash.svg"/> Students</li>
        <li id="menuFaculty" ng-click="menuClick('faculty')"><img alt="Faculty" class="menu_icon" src="img/faculty_dash.svg"/> Faculty</li>
        <li id="menuCourses" ng-click="menuClick('courses')"><img alt="Courses" class="menu_icon" src="img/courses_dash.svg"/> Curriculum</li>
        <li id="menuUniversity" ng-click="menuClick('university')"><img alt="University" class="menu_icon" src="img/university_dash.svg"/> University</li>
        <li id="menuReports" ng-click="menuClick('reports')"><img alt="Reports" class="menu_icon" src="img/reports_dash.svg"/> Reports</li>
      </ul>
    </div>
  </nav>

  <div id="uiContainer">
    <section id="content">
      <div class="centerContainer page" ng-view>
        <noscript>
          <h1>JavaScript is disabled!</h1>
        </noscript>
        <!--[if IE]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser.
          Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
      </div>
    </section>
  </div>

  <div id="toastContainer">
    <p id="toastMessage"></p>
  </div>

  <div id="logoutConfirmModal">
    <p>Are sure you want to logout of the system?</p>
  </div>
</body>

<script src="js/app.js"></script>
<script src="js/login.js"></script>
<script src="js/rest.js"></script>
<script src="js/routing.js"></script>
<script src="js/dashboard.js"></script>
<script src="js/students.js"></script>
<script src="js/courses.js"></script>
<script src="js/assessments.js"></script>
<script src="js/faculty.js"></script>
<script src="js/university.js"></script>
<script src="js/reports.js"></script>

</html>
