<div ng-app="uhnApp" ng-controller="coursesCtrl">
  <table id="courses" class="niceList" ng-if="courses != null">
    <thead>
    <tr>
      <th>Number</th>
      <th>Title</th>
      <th>Course ID</th>
      <th>Credits</th>
      <th>&nbsp;</th>
    </tr>
    </thead>

    <tbody>
    <tr class="data-row" ng-repeat="x in courses" ng-click="handleShowCourseData(x.course_id)">
      <td> {{ x.course_number }} </td>
      <td> {{ x.title }} </td>
      <td> {{ x.course_id }} </td>
      <td> {{ x.credits }} </td>
      <td style="text-align: center;">
        <span ng-click="handleRemoveCourse(x); $event.stopPropagation();" class="delete_row">x</span>
      </td>
    </tr>
    </tbody>
  </table>

  <p ng-if="courses == null" class="centeredText">
    There are currently no courses in the database.<br/>
    Use the "+" button below to add a course.
  </p>

  <div class="addButton" ng-click="handleAddCourse()">
    +
  </div>

  <div id="deleteCourseModal" style="display:  none;">
    <p>
      Are you sure you wish to <strong>permanently delete
      <span style="color: #2d57a2;"> {{ deleteCourseName }}</span> </strong> ?
    </p>
  </div>
</div>
